body {
	min-width: 50em;
	font-size: 1.5em;
}

* {
	font-family: monospace;
	font-weight: bold;
}

.header {
	border: thick solid green;
	background: lightgreen;
	border-radius: 1em;
}

.logo {
	display: inline-block;
	padding: 1em;
	border-right: thick solid green;
}

.logo:hover {
	background: rgba(180, 0, 0, .1);
}

.menu-item {
	display: inline-block;
	padding: 1em;
}

.menu {
	display: inline-block;
}

#content {
	margin: 1em;
}

.menu a {
	text-decoration: none;
}

.menu-item:hover {
	background-color: rgba(125, 30, 0, .1);
}

.footer {
	position: relative;
}

.message-bar {
	border: thick solid darkred;
	border-radius: 1em;
	overflow: auto;
}

@media ( min-width :75em) {
	.message-bar {
		position: fixed;
		bottom: 0em;
		right: 0em;
		max-height: 20em;
		max-width: 50em;
	}
}

.message-bar table {
	width: 100%;
}

.message-bar td {
	background: azure;
	border-radius: 1em;
	padding: 1em;
}

.back-link {
	display: inline-block;
	padding: 1em;
	background: lightgray;
	border-radius: 1em;
	text-decoration: none;
	position: fixed;
	bottom: 0em;
	left: 0em;
}

.schools-table th, .schools-table td {
	padding: .5em;
}

.schools-table .number {
	display: block;
	text-align: center;
}

.test-picker, .tag-picker {
	display: inline-block;
}

table {
	background: rgba(15, 200, 50, .1);
	padding: 1em;
	border-spacing: .25em;
}

td, th {
	text-align: center;
	padding: .5em;
}

td {
	background: rgba(15, 200, 50, .2);
}

.table-wrapper {
	display: inline-block;
}

.controls {
	border: thick solid blue;
	background: rgba(15, 50, 200, .2);
	padding: 1em;
	margin-bottom: 1em;
}

.controls table, table.controls {
	background: #E6F9EA;
}

.chart {
	display: inline-block;
	height: 35em;
	width: 60em;
	margin: 0em;
	margin-right: -10em;
}

.artifacts {
	overflow: auto;
	width: 100%;
	display: block;
	white-space: nowrap;
}

@media ( max-width :75em) {
	.artifacts {
		overflow: visible;
		white-space: normal;
		text-align: center;
	}
	.chart {
		margin-left: 0em -2em;
	}
	.controls {
		text-align: center;
	}
}

.chart, .table-wrapper {
	vertical-align: middle;
	line-height: normal;
	/* http://codepen.io/edge0703/pen/iHJuA */
}