<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">
<composite:interface>

</composite:interface>

<composite:implementation>
	<h:outputScript library="js" name="chart-helper.js" target='head' />
	<composites:element-script code="
		drawChart(jsfid)
	" />
</composite:implementation>
</html>
