<!DOCTYPE html>
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="text" default='Back' />
</composite:interface>

<composite:implementation>
	<h:form id="form">
		<style>
input[for=db-user] {
	width:10em;
}
</style>
		<div>
			<h:outputLabel value="User" for="db-user" />
			<h:inputText id="db-user" value="#{configHelper.user}" />
		</div>
		<div>
			<h:outputLabel value="Password" for="db-pass" />
			<h:inputSecret id="db-pass" value="#{configHelper.password}" />
		</div>
		<h:commandButton value="save" action="#{configHelper.save()}" />
		<h:commandButton value="load"
			action="#{configHelper.loadCredentialsFile()}" />
	</h:form>

	<div>
		Password File
		<h:outputText styleClass='file-status'
			value='#{configHelper.passwordFileExists ? "exists" : "does not exist"}' />
	</div>
</composite:implementation>

</html>