<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="target"
		type="edu.jmu.cs474.pivlds.model.Demographic"
		default="#{demographicSelector.current}" />

</composite:interface>

<composite:implementation>
	<div class='table-wrapper'>
		<h:panelGrid columns="7" styleClass="demographic-picker">
			<h:outputLabel value='Key' />
			<h:outputLabel value='Race' />
			<h:outputLabel value='Gender' />
			<h:outputLabel value='Disabil' />
			<h:outputLabel value='Disadva' />
			<h:outputLabel value='LEP' />
			<h:outputText value="&#160;"/>
			
			<h:outputText value='#{cc.attrs.target.key}' />

			<h:selectOneMenu value="#{cc.attrs.target.race}"
				onchange="this.form.submit()">
				<f:selectItems value="#{demographicSelector.races}" var='item'
					itemLabel='#{item.sqlString()}' />
			</h:selectOneMenu>

			<h:selectOneMenu value="#{cc.attrs.target.gender}"
				onchange="this.form.submit()">
				<f:selectItems value="#{demographicSelector.genders}" />
			</h:selectOneMenu>

			<h:selectOneMenu value="#{cc.attrs.target.disabil}"
				onchange="this.form.submit()">
				<f:selectItems value="#{demographicSelector.disabils}" />
			</h:selectOneMenu>

			<h:selectOneMenu value="#{cc.attrs.target.disadva}"
				onchange="this.form.submit()">
				<f:selectItems value="#{demographicSelector.disadvas}" />
			</h:selectOneMenu>

			<h:selectOneMenu value="#{cc.attrs.target.lep}"
				onchange="this.form.submit()">
				<f:selectItems value="#{demographicSelector.leps}" />
			</h:selectOneMenu>

			<h:commandButton action="#{cc.attrs.target.reset()}" value='Reset'/>
		</h:panelGrid>
	</div>
</composite:implementation>

</html>
