<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">
<composite:interface>
	<composite:attribute name="school" required='true'
		type='edu.jmu.cs474.pivlds.model.School' default='#{schoolSelector.current}' />
	<composite:attribute name="demographic" required='true'
		type='edu.jmu.cs474.pivlds.model.Demographic'
		default='#{demographicSelector.current}' />
</composite:interface>

<composite:implementation>
	<h:outputScript library="js" name="chart-helper.js" target='head' />

	<h:panelGroup layout='block' styleClass="artifacts">
		<composites:evtable id='table-wrapper' school='#{cc.attrs.school}'
			demographic='#{cc.attrs.demographic}' />

		<div id='#{cc.id}:dem-pop' data-chart="true"
			data-table="#{cc.id}:table-wrapper:table"
			data-title="Demographic Population" data-header-row="1"
			data-axis-x="Year" data-axis-y="Students"
			data-columns="Count,Global,Change" data-axis-x-type="int">
			<composites:chart-trigger />
		</div>

		<div id='#{cc.id}:dem-ratio' data-chart="true"
			data-table="#{cc.id}:table-wrapper:table"
			data-title="Demographic Ratio" data-header-row="1" data-axis-x="Year"
			data-axis-y="Percentage"
			data-columns="Growth,Weight, Growth Weighted"
			data-axis-x-type="float"
			data-min-value='-.5' data-max-value='1'>
			<composites:chart-trigger />
		</div>
	</h:panelGroup>
</composite:implementation>
</html>
