<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:composites="http://java.sun.com/jsf/composite/composites">

<composite:interface>
	<composite:attribute name="target" default="#{schoolSelector}" />
</composite:interface>

<composite:implementation>
	<div id="#{cc.id}" class="controls">
		<h:panelGrid id="inputs" columns="2" styleClass="search">
			<h:outputLabel for="search">Search</h:outputLabel>
			<h:inputText id="search" value="#{schoolSelector.search}" />
		</h:panelGrid>
	</div>
	
	<composites:schools-table values='#{schoolSelector.searchResults}'
		listener='#{cc.attrs.target}' emptyheaders="false" />

</composite:implementation>

</html>