<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="target" type="edu.jmu.cs474.pivlds.model.School" />
	<composite:attribute name="showkeys" required='true' default='false' />
	<composite:attribute name="showheaders" required='false' default='true' />
</composite:interface>

<composite:implementation>
	<div>
		<h:panelGrid id="names" class='names' columns="2"
			cellpadding="5" style="display:inline-block">
			<h:outputLabel value='Division' rendered='#{cc.attrs.showheaders}' />
			<h:outputLabel value='School' rendered='#{cc.attrs.showheaders}' />

			<h:outputText id='div_name' value='#{cc.attrs.target.div_name}' />
			<h:outputText id='sch_name' value='#{cc.attrs.target.sch_name}' />
		</h:panelGrid>
		<h:panelGrid id="keys" class='keys' rendered="#{cc.attrs.showkeys =='true'}" columns='3'
			cellpadding="5" style="display:inline-block">
			<h:outputLabel value='key' rendered='#{cc.attrs.showheaders}' />
			<h:outputLabel value='div' rendered='#{cc.attrs.showheaders}' />
			<h:outputLabel value='sch' rendered='#{cc.attrs.showheaders}' />
			<h:outputText id='sch_pk' value='#{cc.attrs.target.sch_pk}' />
			<h:outputText id='div_num' value='#{cc.attrs.target.div_num}' />
			<h:outputText id='sch_num' value='#{cc.attrs.target.sch_num}' />
		</h:panelGrid>
	</div>
</composite:implementation>

</html>