<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:composites="http://java.sun.com/jsf/composite/composites">

<composite:interface>
	<composite:attribute name="target" default="#{testSelector}" />
</composite:interface>

<composite:implementation>
	<div id="#{cc.id}" class="test-picker">
		<h:selectOneMenu value="#{testSelector.selected}" onchange="this.form.submit()">
			<f:selectItems value="#{testSelector.values}"/>
		</h:selectOneMenu>
	</div>
</composite:implementation>

</html>