<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">
	
<composite:interface>
</composite:interface>

<composite:implementation>
	<div id="#{cc.id}" class='table-wrapper'>
		<h:dataTable id='table' value="${reportTestHistory.results}"
			var="item">
			<f:facet name='header'>
				<composites:school showheaders='false'
					target="#{schoolSelector.current}" />
				<p>Demographic : #{demographicSelector.current}</p>
				<p>#{testSelector.selected} :: #{tagSelector.selected}</p>
			</f:facet>
			<h:column>
				<f:facet name='header'> Year </f:facet>
					#{item.year}
				</h:column>
			<h:column>
				<f:facet name='header'> Rate </f:facet>
					#{item.tag_rate}
				</h:column>
			<h:column>
				<f:facet name='header'> Rate <br /> Weighted </f:facet>
					#{item.rate_weighted}
				</h:column>

			<h:column>
				<f:facet name='header'> Diff </f:facet>
					#{item.tag_diff}
				</h:column>
			<h:column>
				<f:facet name='header'> Diff <br /> Weighted </f:facet>
					#{item.diff_weighted}
				</h:column>

			<h:column >
				<f:facet name='header'> Velocity </f:facet>
					#{item.velocity}
				</h:column>

			<h:column>
				<f:facet name='header' rendered='false'> Velocity <br /> Weighted </f:facet>
					#{item.velocity_weighted}
			</h:column>
		</h:dataTable>
	</div>
</composite:implementation>

</html>