<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">

<composite:interface>
</composite:interface>

<composite:implementation>
	<div id="#{cc.id}" class='table-wrapper'>
		<h:dataTable id='table' value="${reportVelocityTrends.results}"
			var="item">
			<f:facet name='header'>
				<composites:school showheaders='false'
					target="#{schoolSelector.current}" />
				<p>Demographic : #{demographicSelector.current}</p>
				<p>#{testSelector.selected}</p>
			</f:facet>
			<h:column>
				<f:facet name='header'> Year </f:facet>
					#{item.year}
				</h:column>
			<h:column>
				<f:facet name='header'> Upper </f:facet>
					#{item.upper}
				</h:column>
			<h:column>
				<f:facet name='header'> Upper <br /> Weighted </f:facet>
					#{item.upper_weighted}
				</h:column>

			<h:column>
				<f:facet name='header'> Lower </f:facet>
					#{item.lower}
				</h:column>
			<h:column>
				<f:facet name='header'> Lower <br /> Weighted </f:facet>
					#{item.lower_weighted}
				</h:column>

		</h:dataTable>
	</div>
</composite:implementation>

</html>