<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition>
	<h:head>
		<title>&#960;VLDS</title>
	</h:head>

	<div id="default-text">
		<h2>Welcome to &#960;VLDS.</h2>
		<em>Tracking Demographic Velocities in the VLDS</em>

		<h2>Overview</h2>
		<p>The VLDS provides aggregated enrollment and standardized
			testing data for Virginia, its schools, and divisions.</p>

		<p>&#960;VLDS compares this data against previous years to graph
			demographic trends.</p>

		<h2>Enrollment Trends</h2>
		<p>Changes in the enrollment head count for each demographic can
			be analyzed when a school and demographic are selected.</p>

		<p>To prevent small population sizes from implying a skewed impact
			on testing results, enrollment figures are used to calculate the
			demographic `weight`, i.e. the ratio of the demographic size to the
			entire school population.</p>

		<h2>Testing Achievement Groups</h2>
		<p>SOL testing defines three categories of achievement. &#960;VLDS
			maps the changes in these groups to the weights of enrollment
			demographics.</p>
		<h3>&#960;VLDS : SOL : Achievement Groups</h3>
		<ul>
			<li><strong>TOP</strong> : `Pass/Advanced`</li>
			<li><strong>MID</strong> : `Pass/Proficient`</li>
			<li><strong>LOW</strong> : `Fail`</li>
		</ul>

		<h2>Testing Velocity</h2>
		<p>Because more students may fail overall, even if some improve to
			the advanced level, each group can be viewed by the net changes to
			it's students, in addition to the size of the group. In &#960;VLDS,
			the net change is referred to as the velocity.</p>
		<p>Two velocity categories are defined.</p>

		<ul>
			<li><strong>UPPER</strong> : The rate of shift from the TOP
				achievement group to lower groups. Equivalent to the difference in
				the TOP achievement group.</li>
			<li><strong>LOWER</strong> : The rate of shift from the MID
				achievement group to either the TOP or LOW groups. Equivalent to the
				sum of the difference in the TOP and MID achievement groups.  Also, the
				opposite of the difference in the LOW achievement group.</li>
		</ul>
	</div>
</ui:composition>
</html>