<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<head>
<title>Insert title here</title>
</head>
<body>

	<ui:composition>
		<div class="message-bar">
			<h:messages layout="table" styleClass="jsf-messages" />
		</div>
	</ui:composition>
</body>
</html>