<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
<title>Insert title here</title>
</head>
<body>
	<ui:composition>
		<div class='header'>
			<h:link outcome="/index">
				<div class='logo'>&#960;VLDS</div>
			</h:link>
			<div class='menu'>
				<h:link outcome="/pick-school">
					<div class='menu-item school'>#{empty schoolSelector.current
						or not schoolSelector.current.valid ? "Select School" :
						schoolSelector.current}</div>
				</h:link>

				<h:link outcome='/pick-demographic'>
					<div class='menu-item demographic'>#{demographicSelector.current}</div>
				</h:link>

				<h:link outcome='/pick-test'>
					<div class='menu-item test'>#{empty testSelector.selected ?
						"Select Test" : testSelector.selected}</div>
				</h:link>
				<h:link outcome='/pick-tag'>
					<div class='menu-item tag'>#{empty tagSelector.selected ?
						"Select Achievement Group" : tagSelector.selected}</div>
				</h:link>
			</div>
		</div>
	</ui:composition>
</body>
</html>