<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">
<ui:composition template="/template/page.xhtml">
	<ui:define name='head'>
		<title>DemographicSelector.java Test</title>
	</ui:define>
	<ui:define name='content'>

		<p>
			<composites:back-link />
		</p>

		<h2>Synopsis</h2>
		<div>
			This page tests
			<code>DemographicSelector.java</code>
		</div>

		<h2>Form</h2>
		<div>
			<h:form>
				<composites:demographic-picker
					target='#{demographicSelector.current}' />
			</h:form>
		</div>

		<h2>Output</h2>
		<div>
			<div>
				Race :
				<h:outputText value='#{demographicSelector.current.race}' />
			</div>

			<div>
				Gender :
				<h:outputText value='#{demographicSelector.current.gender}' />
			</div>

			<div>
				Disabil :
				<h:outputText value='#{demographicSelector.current.disabil}' />
			</div>

			<div>
				Diadva :
				<h:outputText value='#{demographicSelector.current.disadva}' />
			</div>

			<div>
				LEP :
				<h:outputText value='#{demographicSelector.current.lep}' />
			</div>

			<div>
				Key :
				<h:outputText value='#{demographicSelector.current.key}' />
			</div>

			<div>Demographic : #{demographicSelector.current}</div>
		</div>

	</ui:define>
</ui:composition>
</html>