<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">

<ui:composition template='/template/page.xhtml'>

	<ui:define name='content'>
		<h:head>
			<title>&#960;VLDS Component Tests</title>
		</h:head>

		<composites:back-link />

		<h3>TOC:</h3>
		<ul>
			<h:link value='Test : SchoolSelector.java' outcome="school-selector" />
		</ul>

		<ul>
			<h:link value='Test : DemographicSelector.java'
				outcome="demographic-selector" />
		</ul>

		<ul>
			<h:link value='Test : Enrollment Table' outcome="ev-table" />
		</ul>

		<ul>
			<h:link value='Test : Table to Chart' outcome="ev-chart" />
		</ul>

		<ul>
			<h:link value='Test : Dynamic Chart' outcome="dynamic-chart" />
		</ul>

		<ul>
			<h:link value='Test : Test History Table' outcome="thtable-test" />
		</ul>
	</ui:define>

	<f:metadata>
		<f:event type="preRenderView" listener="#{testFacesMessage.init}" />
	</f:metadata>
</ui:composition>
</html>

<!--source href='https://musingsinjava.wordpress.com/2014/11/02/enabling-jsf-2-2-and-cdi-1-2-on-tomcat-8/' -->