<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">
<h:head>

</h:head>
<h:body>
	<ui:composition template='/template/page.xhtml'>
		<ui:define name="head">
			<title>Achievement Group History</title>
		</ui:define>

		<ui:define name="content">

			<h:form id='form' class='form' style='clear: both; display: block;'>
				<div class='controls'>
					<composites:tag-picker id="tag-picker" />
					<composites:test-picker id="test-picker" />
				</div>
				<div class='artifacts'>
					<composites:thtable id="th-table" />

					<div id="chart-base" class="chart" data-chart="true"
						data-table="form:th-table:table"
						data-title="Achievement Group : #{tagSelector.selected}"
						data-header-row="1" data-axis-x="Year"
						data-axis-y="Achievement Rate" data-columns="Rate, Diff, Velocity"
						data-axis-x-type="float" data-max-value="100" data-min-value="-50">
						<composites:chart-trigger />
					</div>

					<div id="chart-weighted" class="chart" data-chart="true"
						data-table="form:th-table:table"
						data-title="Achievement Group : #{tagSelector.selected}"
						data-header-row="1" data-axis-x="Year"
						data-axis-y="Achievement Rate"
						data-columns="Rate Weighted, Diff Weighted, Velocity Weighted"
						data-axis-x-type="float" data-max-value="100" data-min-value="-50">
						<composites:chart-trigger />
					</div>
				</div>

				<div class='artifacts'>
					<composites:vt-table id='vt-table' />
					<div id="chart-trends" class="chart" data-chart="true"
						data-table="form:vt-table:table"
						data-title="Velocity Trends : #{testSelector.selected}"
						data-header-row="1" data-axis-x="Year"
						data-axis-y="Achievement Rate"
						data-columns="Upper, Upper Weighted, Lower, Lower Weighted"
						data-axis-x-type="float" data-max-value="100" data-min-value="-50">
						<composites:chart-trigger />
					</div>
				</div>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>

</html>