<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'>

<ui:composition template='/template/page.xhtml'>
	<ui:define name='head'>
		<title>Select School</title>
	</ui:define>

	<ui:define name='content'>
		<h:form>
			<composites:school-picker />
		</h:form>
	</ui:define>
</ui:composition>
</html>
