<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'>

<ui:composition template='/template/page.xhtml'>
	<ui:define name='head'>
		<title>Select Test</title>
	</ui:define>

	<ui:define name='content'>
		<h:form id='form'>
			<div class='controls'>
				<composites:test-picker id="test-picker" />
			</div>

			<div class='artifacts'>
				<composites:vt-table id='vt-table' />
				<div id="chart-trends" class="chart" data-chart="true"
					data-table="form:vt-table:table"
					data-title="Velocity Trends : #{testSelector.selected}"
					data-header-row="1" data-axis-x="Year"
					data-axis-y="Achievement Rate"
					data-columns="Upper, Upper Weighted, Lower, Lower Weighted"
					data-axis-x-type="float" data-max-value="100" data-min-value="-50">
					<composites:chart-trigger />
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>
